.notification {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: #fff;
    max-width: 60%;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    border-radius: 16px;
    background: rgb(150, 153, 0);
    padding: 32px;
    z-index: 1000;
    opacity: 0;
    transform: translateX(100%);
}

.notification_show {
    opacity: 1;
    transform: translateX(0);
}

.notification_success {
    padding-right: 76px;
    background: #00992B url('../img/check.svg') right 32px center / 36px no-repeat;

}

.notification_error {
    background-color: rgb(196, 63, 63);
}

@media(max-width: 768px) {
    .notification {
        max-width: 50%;
        border-radius: 12px;
        margin-left: 16px;
        padding: 24px;
    }
}

@media (max-width: 320px) { 
    .notification {
        max-width: 100%;
        padding: 16px;
    }
}